.container{
    width: 300vw;
    /* width: 400px; */
    /* transform: translate(-100vw); */
    /* x축 -100vw 이동 */
    transition: transform 0.5s;
    /* transform == 서서히 변경 */
}

.inner{
    width: 100vw;
    float: left;
}

.frame{
    width:300px;
    /* width: 100vw; */
    height: 450px;
    /* margin-left: 50px;  */
}

.wrap_frame{
    display: flex;
    /* justify-content: center; */
}


.card{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: #C6C6C6;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
    position: relative;
    transition-duration: 250ms;
    transition-property: transform, box-shadow ;
    transition-timing-function: ease-out;

    margin: 10px 0px;

}

.inner img{
    width: 100%;
}

.noneScroll{
    overflow: hidden;
}


.slide_wrapper{
    /* 보이는 화면 960px까지만 나머지는 hidden */
    position: relative;
    /* width: 960px; */
    width: 350px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
}

.slides{
    position: absolute;
    left:0;
    top: 0;
    width: 2610px;
}

/* .frame:not(:last-child){
    float: left;
    margin-right: 30px;
    
} */

.frame:not(:first-child){
    margin-left: 50px; 
}

.subbtn_center{
    text-align: center;
}

.subbtn_center button{
    padding: 10px 10px;
}

.subbtn_center button:nth-child(1){
    margin-right: 50px;
}

.subbtn_center button:nth-child(2){
    margin-left: 50px;
}

.img_center{
    text-align: center;
}

.img_center img{
    margin-top: 100px;
    width: 100%;
    height: 180px;
}