.container{
    width: 300vw;
    /* transform: translate(-100vw); */
    /* x축 -100vw 이동 */
    transition: transform 0.5s;
    /* transform == 서서히 변경 */
}

.inner{
    width: 100vw;
    float: left;
}

.inner img{
    width: 100%;
}

.noneScroll{
    overflow: hidden;
}