
.option_body{
    text-align: center;
}

.logo_size{
    width:100px
}

.logo_margin2{
    margin-top: 30px;
}


/* 위에서 아래로 내려오며 투명했다가 나타나는 애니메이션 */
@keyframes slowAppear {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


.option_box_right{
    margin: 80px 0px 40px 70px; 
    /* 위쪽 오른쪽 아래쪽 왼쪽 */
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 100px 100px; */
    /* grid 열로 -px *(갯수) */
    grid-template-columns: 0.1fr;
    /* grid 화면 꽉채워서 열을 나열할것이다 fr사용 */

    /* grid-template-columns: repeat(3, 1fr); */
    /* grid 3번 1fr 반복할 것 */
    /* background-color: #AFD485; */
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 20px 10px;
    animation: slowAppear 1s;

    cursor: pointer;
}

/* :nth-child()를 사용하여 배경색 다르게 하기!!
장점: 같은 코드 반복해서 사용하지 않아도 됨 */
.full_frame :nth-child(1){
    background-color: #AFD485;
    
}

.full_frame2 :nth-child(1){
    background-color: #DDECCA;
}

.option_box_left{
    margin: 80px 70px 40px 0px; 
    /* 위쪽 오른쪽 아래쪽 왼쪽 */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.1fr;
    background-color: #7DB249;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 20px 10px;
    animation: slowAppear 1s;
    cursor: pointer;
}

.add_explanation{
    text-align: left;
    margin: 30px 0 10px 10px;
}

.boxframe{
    width: 90px;
    height: 90px;
    /* background-color: mediumslateblue; */
    /* margin: 100px 10px 50px 40px;  */
    /* 위쪽 오른쪽 아래쪽 왼쪽 */
    position: relative;
    margin-left: 10px;
}

.boximg{
    position: absolute;
    left: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}