.subheading2{
    margin: 10px 0px 40px 70px; 
    /* 위쪽 오른쪽 아래쪽 왼쪽 */
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 100px 100px; */
    /* grid 열로 -px *(갯수) */
    grid-template-columns: 0.1fr;
    /* grid 화면 꽉채워서 열을 나열할것이다 fr사용 */

    /* grid-template-columns: repeat(3, 1fr); */
    /* grid 3번 1fr 반복할 것 */
    background-color: #DDECCA;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 0px 10px;
}

.sub_add_explanation{
    text-align: left;
    margin: 20px 0 10px 10px;
}

.sub_boxframe{
    width: 45px;
    height: 45px;
    /* background-color: mediumslateblue; */
    /* margin: 100px 10px 50px 40px;  */
    /* 위쪽 오른쪽 아래쪽 왼쪽 */
    position: relative;
    /* margin-left: 5px; */
    margin : 5px 0px 5px 5px;
}

.sub_boximg{
    position: absolute;
    left: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moving {
    position:relative;
    width:100%;
    height:700px;
    background-color: #DDECCA;
    /* background:url('../images/animalBackground.jpg') 0 center / 500px 700px repeat-x; */
    /* animation: movebg 2s linear infinite; */
    /* 2초동안 일정하게 무한반복 */
    /* test.png */
}

@keyframes movebg {
    0% {background-position:0 center;}
    100% {background-position:-500px center;}
}

.moving_animal {
    position:relative;
    width:3850px;
    height:300px;
    animation: moveAn 25s linear infinite;
    /* 2초동안 일정하게 무한반복 */
    /* test.png */
}


@keyframes moveAn{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-3450px);
    }
}

.frame_ani{
    width: 350px;
    height: 600px;
    background-color: #7DB249;
    /* margin: 0px 100px 50px 100px; */
    margin-bottom: 50px;
    float: left;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    box-shadow: 2px 2px 2px 2px #71a1417a;
}

.animal_img{
    width: 200px;
    height: 200px;
    margin: 100px 50px 50px 70px;
}

.food_img{
    width: 100px;
    height: 100px;
    margin-left: 35%;
}

.animal_text{
    text-align: center;
}

.container{
    width: 300vw;
    /* width: 400px; */
    /* transform: translate(-100vw); */
    /* x축 -100vw 이동 */
    transition: transform 0.5s;
    /* transform == 서서히 변경 */
}

.inner{
    width: 100vw;
    float: left;
}

.frame{
    width:300px;
    /* width: 100vw; */
    height: 450px;
    /* margin-left: 50px;  */
}

.wrap_frame2{
    display: flex;
    /* justify-content: center; */
}

.slide_wrapper2{
    /* 보이는 화면 960px까지만 나머지는 hidden */
    position: relative;
    /* width: 960px; */
    width: 350px;
    margin: 0 auto;
    height: 700px;
    overflow: hidden;
}

.slides2{
    position: absolute;
    left:0;
    top: 0;
    /* width: 2610px; */
    transition: transform 0.5s;
}

.frame_ani:not(:first-child){
    margin-left: 100px; 
}