.subheading2{
    margin: 10px 0px 40px 70px; 
    /* 위쪽 오른쪽 아래쪽 왼쪽 */
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 100px 100px; */
    /* grid 열로 -px *(갯수) */
    grid-template-columns: 0.1fr;
    /* grid 화면 꽉채워서 열을 나열할것이다 fr사용 */

    /* grid-template-columns: repeat(3, 1fr); */
    /* grid 3번 1fr 반복할 것 */
    background-color: #DDECCA;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 0px 10px;
}

.sub_add_explanation{
    text-align: left;
    margin: 20px 0 10px 10px;
}

.sub_boxframe{
    width: 45px;
    height: 45px;
    /* background-color: mediumslateblue; */
    /* margin: 100px 10px 50px 40px;  */
    /* 위쪽 오른쪽 아래쪽 왼쪽 */
    position: relative;
    /* margin-left: 5px; */
    margin : 5px 0px 5px 5px;
}

.sub_boximg{
    position: absolute;
    left: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moving {
    position:relative;
    width:100%;
    height:700px;
    background:url('../images/animalBackground.jpg') 0 center / 500px 700px repeat-x;
    animation: movebg 2s linear infinite;
    /* 2초동안 일정하게 무한반복 */
    /* test.png */
}

@keyframes movebg {
    0% {background-position:0 center;}
    100% {background-position:-500px center;}
}

.moving_animal {
    position:relative;
    width:3500px;
    height:300px;
    animation: moveAn 2s linear infinite;
    /* 2초동안 일정하게 무한반복 */
    /* test.png */
}


@keyframes moveAn{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-500px);
    }
}

.frame_ani{
    width: 300px;
    height: 500px;
    background-color: darkviolet;
    margin: 150px 100px 50px 100px;
    float: left;
}

.animal_img{
    width: 100%;
    height: 300px;
}